<h1>Posts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.author %></td>
        <td><%= link_to 'View Post', post_path(post.id) %></td>
        <td><%= link_to 'Edit', edit_post_path(post.id) %></td>
        <td><%= link_to 'Delete Post', post_path(post.id), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
